<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfilAlumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfilAlumno</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <div id="img-container" style="text-align: center;">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header style="text-align: center;">
      <ion-card-title>Nombre Alumno:</ion-card-title>
      <ion-card-subtitle>Carrera Cursada:</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="text-align: center;">
      Informacion personal del Estudiante
    </ion-card-content>
  </div>
  </ion-card>
    <div class="img-container">
    <img  width="300px"
    height="300px" style="text-align: center;" alt="DuocQR" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpxy0osBeUnqjXAxl8Oj03kDvshBQKXoMTCTU6Mt4usrjS6enecDIRErXXubNyR8yyWhU&usqp=CAU" />
  </div>
</ion-content>
